  body{
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background: #1D2B64;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #1D2B64, #F8CDDA);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #1D2B64, #F8CDDA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          color: #fff;
      }
      .plyr__video-wrapper{
          width: 710px;
          height: 400px;
      }
      .headline{
          text-align: center;
      }
      .simple_player{
        margin-top: 70px;
      }

      