<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
   <link rel="stylesheet" href="/static/style.css">
   <title>Document</title>
</head>
<body>
   
<div class="plyr">
   <h1 class="plyr__headline">This is Plyr.io</h1>
   <video class="player__first" id="player" autoplay playsinline controls>
      <source src="/get_video/{{video.name}}" type="video/mp4" />
   </video>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
<script>
   const player = new Plyr('#player');
</script>
</body>
</html>