<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://rawgit.com/johndyer/mediaelement/master/build/mediaelementplayer.min.css">
   <link rel="stylesheet" href="/static/style.css">
   <title>Document</title>
</head>
<body>
   
<div class="mediaelement">
   <h1 class="headline">This is MediaElement.js</h1>
   <div id="player-wrapper">
      <video class="player3" width="710" height="400" controls>
         <source src="/get_video/{{video.name}}" type="video/mp4">
         Your browser does not support the video tag.
      </video>
   </div>
</div>

   <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
   <script src="//rawgit.com/johndyer/mediaelement/master/build/mediaelement-and-player.min.js"></script>
   <script src="//cdn.viblast.com/vb/stable/viblast.js"></script>
   <script>
      $('.player3').mediaelementplayer({
            pluginPath: 'https://cdnjs.com/libraries/mediaelement/',
            shimScriptAccess: 'always'
         });
   </script>
</body>
</html>