<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/style.css">
   <title>Document</title>
</head>
<body>
   
<div class="simple_player">
   <h1 class="headline">This is Simple player</h1>
   <video width="710" height="400" controls="controls">
      <source src="/get_video/{{video.name}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
      Тег video не поддерживается вашим браузером.
   </video>
</div>


</body>
</html>